.grid-container{
    display: flex;
    justify-content: center;
}
.container{

    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-auto-rows: auto;
    gap: 0px;
    font-size: 25px;
}
.grid-item {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.grid-item:hover{
    cursor: pointer;
    
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.clear-button{
    background-color: #2E76CF;
    font-size: 25px;
    border-radius: 4px;
    color: #FFFFFF;
}

.clear-button:hover{
    cursor: pointer;
    background-color: #00008B;
}
